// ============

* {
  box-sizing: border-box;
}

body {
  max-width: 1140px;
  margin: auto;
  // background-color: #f5f6fa;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
}

.shimmer {
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1000px 100%;
  animation: shimmer 2.2s linear infinite forwards;

  &-hr {
    border-color: #f6f6f6;
  }

  &-row {
    display: flex;
    margin: 0 -15px;

    .shimmer-col,
    [class*="shimmer-col-"] {
      padding-left: 15px;
      padding-right: 15px;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.p-30 {
  padding: 30px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-15 {
  padding: 15px !important;
}

.m-0 {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.h-100 {
  height: 100%;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.flex-horizontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-vertical-center {
  align-items: center;
}

.flex-content-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex-grow: 1;
}

.grid {
  display: grid;
}

.grid-gap-10 {
  gap: 10px;
}

.grid-gap-15 {
  gap: 15px;
}

.grid-gap-20 {
  gap: 20px;
}

.grid-gap-30 {
  gap: 30px;
}

.grid-column-2 {
  grid-template-columns: auto auto;
}

.grid-column-3 {
  grid-template-columns: auto auto auto;
}

.grid-column-4 {
  grid-template-columns: auto auto auto auto;
}

.text-center {
  text-align: center;
}
